<hr />ID #3 (<a href="Drupal_node_Tests_NodeFieldMultilingualTest-2-1.html">Previous</a> | <a href="Drupal_node_Tests_NodeFieldMultilingualTest-4-1.html">Next</a>)<hr />POST request to: admin/config/regional/language/detection<hr />Ending URL: http://localhost:8888/jfhp_org/admin/config/regional/language/detection<hr />Fields: <code><span style="color: #000000">
<span style="color: #0000BB">&lt;?php&nbsp;</span><span style="color: #007700">array&nbsp;(<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'language_interface[weight][language-user-admin]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'-10'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'language_interface[enabled][language-url]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'language_interface[weight][language-url]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'-8'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'language_interface[weight][language-session]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'-6'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'language_interface[weight][language-user]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'-4'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'language_interface[weight][language-browser]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'-2'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'language_interface[weight][language-selected]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'12'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_build_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'form-4o9S-uZe7N7mmb3Kj_cPB0U3K_JC3UMEiWjSXEEl2wo'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_token'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'LhpCh2V7SlFa_nc7KbhMUsvF02zae-g-sWHCYDBD-jw'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'language_negotiation_configure_form'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'op'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Save&nbsp;settings'</span><span style="color: #007700">,<br />)</span>
</span>
</code><hr /><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://localhost:8888/jfhp_org/core/misc/favicon.ico" type="image/vnd.microsoft.icon" />

    <title>Detection and selection | Drupal</title>
    <style media="all">
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/normalize-css/normalize.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/ajax-progress.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/align.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/autocomplete-loading.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/fieldgroup.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/container-inline.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/clearfix.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/details.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/hidden.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/item-list.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/js.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/nowrap.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/position-container.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/progress.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/reset-appearance.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/resize.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/sticky-header.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tabledrag.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tablesort.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tree-child.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/core/dropbutton/dropbutton.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/system.admin.css?o1p521");
</style>
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/action-links.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/breadcrumb.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/button.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/collapse-processed.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/container-inline.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/details.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/exposed-filters.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/field.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/form.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/icons.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/inline-form.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/item-list.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/link.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/links.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/menu.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/more-link.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/pager.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabledrag.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tableselect.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tablesort.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabs.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/textarea.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/ui-dialog.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/dropbutton.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/messages.css?o1p521");
</style>

    
<!--[if lte IE 8]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
<![endif]-->

  </head>
  <body class="user-logged-in path-admin">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    
    <div class="layout-container">

  <header role="banner">
    
  </header>

  
  

  

  

  

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
        <div class="region region-content">
    
    <div role="contentinfo" aria-label="Status message" class="messages messages--status">
                  <h2 class="visually-hidden">Status message</h2>
                    Language detection configuration saved.
            </div>
    

  <h1 class="page-title">Detection and selection</h1>

<form data-drupal-selector="language-negotiation-configure-form" action="/jfhp_org/admin/config/regional/language/detection" method="post" id="language-negotiation-configure-form" accept-charset="UTF-8">
      <div class="js-form-item form-item table-language-group table-language_interface-wrapper">
    <h2>Interface text language detection</h2>
    <div class="description">Order of language detection methods for interface text. If a translation of interface text is available in the detected language, it will be displayed.</div>
    
    <table id="language-negotiation-methods-language_interface" class="responsive-enabled" data-striping="1">
  
  
      <thead>
      <tr>
                            <th>Detection method</th>
                            <th>Description</th>
                            <th>Enabled</th>
                            <th>Weight</th>
                            <th>Operations</th>
              </tr>
    </thead>
  
      <tbody>
                      <tr class="draggable odd">
                      <td><strong>Account administration pages</strong></td>
                      <td>Account administration pages language setting.</td>
                      <td><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-language-interface-enabled-language-user-admin form-item-language-interface-enabled-language-user-admin form-no-label">
      <label for="edit-language-interface-enabled-language-user-admin" class="visually-hidden">Enable account administration pages language detection method</label>
        <input data-drupal-selector="edit-language-interface-enabled-language-user-admin" type="checkbox" id="edit-language-interface-enabled-language-user-admin" name="language_interface[enabled][language-user-admin]" value="1" class="form-checkbox" />

        </div>
</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-language-interface-weight-language-user-admin form-item-language-interface-weight-language-user-admin form-no-label">
      <label for="edit-language-interface-weight-language-user-admin" class="visually-hidden">Weight for account administration pages language detection method</label>
        <select class="language-method-weight-language_interface form-select" data-drupal-selector="edit-language-interface-weight-language-user-admin" id="edit-language-interface-weight-language-user-admin" name="language_interface[weight][language-user-admin]"><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10" selected="selected">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option></select>
        </div>
</td>
                      <td></td>
                  </tr>
                      <tr class="draggable even">
                      <td><strong>URL</strong></td>
                      <td>Language from the URL (Path prefix or domain).</td>
                      <td><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-language-interface-enabled-language-url form-item-language-interface-enabled-language-url form-no-label">
      <label for="edit-language-interface-enabled-language-url" class="visually-hidden">Enable url language detection method</label>
        <input data-drupal-selector="edit-language-interface-enabled-language-url" type="checkbox" id="edit-language-interface-enabled-language-url" name="language_interface[enabled][language-url]" value="1" checked="checked" class="form-checkbox" />

        </div>
</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-language-interface-weight-language-url form-item-language-interface-weight-language-url form-no-label">
      <label for="edit-language-interface-weight-language-url" class="visually-hidden">Weight for url language detection method</label>
        <select class="language-method-weight-language_interface form-select" data-drupal-selector="edit-language-interface-weight-language-url" id="edit-language-interface-weight-language-url" name="language_interface[weight][language-url]"><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8" selected="selected">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option></select>
        </div>
</td>
                      <td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul data-drupal-selector="edit-language-interface-operation-language-url" class="dropbutton"><li class="configure"><a href="/jfhp_org/admin/config/regional/language/detection/url">Configure</a></li></ul></div></div></td>
                  </tr>
                      <tr class="draggable odd">
                      <td><strong>Session</strong></td>
                      <td>Language from a request/session parameter.</td>
                      <td><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-language-interface-enabled-language-session form-item-language-interface-enabled-language-session form-no-label">
      <label for="edit-language-interface-enabled-language-session" class="visually-hidden">Enable session language detection method</label>
        <input data-drupal-selector="edit-language-interface-enabled-language-session" type="checkbox" id="edit-language-interface-enabled-language-session" name="language_interface[enabled][language-session]" value="1" class="form-checkbox" />

        </div>
</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-language-interface-weight-language-session form-item-language-interface-weight-language-session form-no-label">
      <label for="edit-language-interface-weight-language-session" class="visually-hidden">Weight for session language detection method</label>
        <select class="language-method-weight-language_interface form-select" data-drupal-selector="edit-language-interface-weight-language-session" id="edit-language-interface-weight-language-session" name="language_interface[weight][language-session]"><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6" selected="selected">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option></select>
        </div>
</td>
                      <td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul data-drupal-selector="edit-language-interface-operation-language-session" class="dropbutton"><li class="configure"><a href="/jfhp_org/admin/config/regional/language/detection/session">Configure</a></li></ul></div></div></td>
                  </tr>
                      <tr class="draggable even">
                      <td><strong>User</strong></td>
                      <td>Follow the user's language preference.</td>
                      <td><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-language-interface-enabled-language-user form-item-language-interface-enabled-language-user form-no-label">
      <label for="edit-language-interface-enabled-language-user" class="visually-hidden">Enable user language detection method</label>
        <input data-drupal-selector="edit-language-interface-enabled-language-user" type="checkbox" id="edit-language-interface-enabled-language-user" name="language_interface[enabled][language-user]" value="1" class="form-checkbox" />

        </div>
</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-language-interface-weight-language-user form-item-language-interface-weight-language-user form-no-label">
      <label for="edit-language-interface-weight-language-user" class="visually-hidden">Weight for user language detection method</label>
        <select class="language-method-weight-language_interface form-select" data-drupal-selector="edit-language-interface-weight-language-user" id="edit-language-interface-weight-language-user" name="language_interface[weight][language-user]"><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4" selected="selected">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option></select>
        </div>
</td>
                      <td></td>
                  </tr>
                      <tr class="draggable odd">
                      <td><strong>Browser</strong></td>
                      <td>Language from the browser's language settings.</td>
                      <td><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-language-interface-enabled-language-browser form-item-language-interface-enabled-language-browser form-no-label">
      <label for="edit-language-interface-enabled-language-browser" class="visually-hidden">Enable browser language detection method</label>
        <input data-drupal-selector="edit-language-interface-enabled-language-browser" type="checkbox" id="edit-language-interface-enabled-language-browser" name="language_interface[enabled][language-browser]" value="1" class="form-checkbox" />

        </div>
</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-language-interface-weight-language-browser form-item-language-interface-weight-language-browser form-no-label">
      <label for="edit-language-interface-weight-language-browser" class="visually-hidden">Weight for browser language detection method</label>
        <select class="language-method-weight-language_interface form-select" data-drupal-selector="edit-language-interface-weight-language-browser" id="edit-language-interface-weight-language-browser" name="language_interface[weight][language-browser]"><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2" selected="selected">-2</option><option value="-1">-1</option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option></select>
        </div>
</td>
                      <td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul data-drupal-selector="edit-language-interface-operation-language-browser" class="dropbutton"><li class="configure"><a href="/jfhp_org/admin/config/regional/language/detection/browser">Configure</a></li></ul></div></div></td>
                  </tr>
                      <tr class="draggable even">
                      <td><strong>Selected language</strong></td>
                      <td>Language based on a selected language.</td>
                      <td><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-language-interface-enabled-language-selected form-item-language-interface-enabled-language-selected form-no-label form-disabled">
      <label for="edit-language-interface-enabled-language-selected" class="visually-hidden">Enable selected language language detection method</label>
        <input disabled="disabled" data-drupal-selector="edit-language-interface-enabled-language-selected" type="checkbox" id="edit-language-interface-enabled-language-selected" name="language_interface[enabled][language-selected]" value="1" checked="checked" class="form-checkbox" />

        </div>
</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-language-interface-weight-language-selected form-item-language-interface-weight-language-selected form-no-label">
      <label for="edit-language-interface-weight-language-selected" class="visually-hidden">Weight for selected language language detection method</label>
        <select class="language-method-weight-language_interface form-select" data-drupal-selector="edit-language-interface-weight-language-selected" id="edit-language-interface-weight-language-selected" name="language_interface[weight][language-selected]"><option value="-20">-20</option><option value="-19">-19</option><option value="-18">-18</option><option value="-17">-17</option><option value="-16">-16</option><option value="-15">-15</option><option value="-14">-14</option><option value="-13">-13</option><option value="-12">-12</option><option value="-11">-11</option><option value="-10">-10</option><option value="-9">-9</option><option value="-8">-8</option><option value="-7">-7</option><option value="-6">-6</option><option value="-5">-5</option><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12" selected="selected">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option></select>
        </div>
</td>
                      <td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul data-drupal-selector="edit-language-interface-operation-language-selected" class="dropbutton"><li class="configure"><a href="/jfhp_org/admin/config/regional/language/detection/selected">Configure</a></li></ul></div></div></td>
                  </tr>
          </tbody>
    </table>

    
  </div>
<input data-drupal-selector="form-48810gypkunrmboun1jxvimm3ifogaxrxhtgmofdvrk" type="hidden" name="form_build_id" value="form-48810gYpKUnrMBoUn1jxVImM3iFogAxRxHTgmoFdvRk" />
<input data-drupal-selector="edit-language-negotiation-configure-form-form-token" type="hidden" name="form_token" value="LhpCh2V7SlFa_nc7KbhMUsvF02zae-g-sWHCYDBD-jw" />
<input data-drupal-selector="edit-language-negotiation-configure-form" type="hidden" name="form_id" value="language_negotiation_configure_form" />
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Save settings" class="button button--primary js-form-submit form-submit" />
</div>


</form>

  </div>

    </div>
    
    
  </main>

  
</div>
    
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/jfhp_org\/","scriptPath":null,"pathPrefix":"","currentPath":"admin\/config\/regional\/language\/detection","currentPathIsAdmin":true,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","ajaxTrustedUrl":{"form_action_cc611e1d":true},"tableDrag":{"language-negotiation-methods-language_interface":{"language-method-weight-language_interface":[{"target":"language-method-weight-language_interface","source":"language-method-weight-language_interface","relationship":"sibling","action":"order","hidden":true,"limit":0}]}},"user":{"uid":"2","permissionsHash":"ff2b70b67a284a43c76f276916aec5b6bbfe3be9453949530553c45041a63ffb"}}</script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>

<!--[if lte IE 9]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/classList/classList.min.js?v=2014-12-13"></script>
<![endif]-->
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery/jquery.min.js?v=2.1.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.1.1"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupalSettingsLoader.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupal.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/tabledrag.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/active-link.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/tableresponsive.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.cookie/jquery.cookie.min.js?v=1.4.1"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/dropbutton/dropbutton.js?v=8.0.2"></script>

  </body>
</html>
