<hr />ID #10 (<a href="Drupal_node_Tests_NodeAccessBaseTableTest-9-1.html">Previous</a> | <a href="Drupal_node_Tests_NodeAccessBaseTableTest-11-1.html">Next</a>)<hr />POST request to: node/add/article<hr />Ending URL: http://localhost:8888/jfhp_org/node/3<hr />Fields: <code><span style="color: #000000">
<span style="color: #0000BB">&lt;?php&nbsp;</span><span style="color: #007700">array&nbsp;(<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'changed'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1454040119'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'title[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Public&nbsp;Article&nbsp;created&nbsp;by&nbsp;i6ANm3zN'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_build_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'form-qyae3SBqIHR1aPItmmw97z_q0_IdaMe3CgTPdFVBe9s'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_token'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'QCyHDM5J-hPSHrNcey1AHBZPgnVP39YEZ6BfxzCr8_M'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'node_article_form'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'body[0][summary]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'body[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'public&nbsp;node'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'body[0][format]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'basic_html'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'field_tags[target_id]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'public'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'field_image[0][fids]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'field_image[0][display]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'private[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'comment[0][status]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'2'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'advanced__active_tab'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'op'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Save'</span><span style="color: #007700">,<br />)</span>
</span>
</code><hr /><!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
  <head>
    <meta charset="utf-8" />
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://localhost:8888/jfhp_org/core/misc/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="canonical" href="/jfhp_org/node/3" />
<link rel="shortlink" href="/jfhp_org/node/3" />
<link rel="delete-form" href="/jfhp_org/node/3/delete" />
<link rel="edit-form" href="/jfhp_org/node/3/edit" />
<link rel="version-history" href="/jfhp_org/node/3/revisions" />
<link rel="revision" href="/jfhp_org/node/3" />

    <title>Public Article created by i6ANm3zN | Drupal</title>
    <style media="all">
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/normalize-css/normalize.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/ajax-progress.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/align.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/autocomplete-loading.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/fieldgroup.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/container-inline.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/clearfix.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/details.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/hidden.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/item-list.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/js.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/nowrap.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/position-container.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/progress.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/reset-appearance.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/resize.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/sticky-header.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tabledrag.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tablesort.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tree-child.module.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/core.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/button.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/resizable.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/dialog.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/filter/filter.caption.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/ckeditor/plugins/drupalimagecaption/ckeditor.drupalimagecaption.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/ckeditor/ckeditor.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/filter/filter.admin.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/theme.css?o1p4h9");
</style>
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/base/elements.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/layout.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/action-links.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/breadcrumb.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/button.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/collapse-processed.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/container-inline.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/details.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/exposed-filters.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/field.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/form.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/icons.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/inline-form.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/item-list.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/link.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/links.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/menu.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/more-link.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/pager.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabledrag.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tableselect.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tablesort.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabs.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/textarea.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/ui-dialog.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/node.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/dialog.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/messages.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/block.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/book.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/breadcrumb.css?o1p4h9");
</style>
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/captions.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/comments.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/contextual.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/demo-block.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/dropbutton.component.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/featured-top.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/feed-icon.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/field.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/form.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/forum.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/header.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/help.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/highlighted.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/item-list.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/list-group.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/list.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/main-content.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/menu.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/node.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/node-preview.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/page-title.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/pager.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/panel.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/primary-menu.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/search-form.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/search-results.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/secondary-menu.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/shortcut.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/skip-link.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/sidebar.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/site-branding.css?o1p4h9");
</style>
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/site-footer.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/table.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/tablesort-indicator.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/tabs.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/toolbar.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/featured-bottom.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/password-suggestions.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/ui.widget.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/vertical-tabs.component.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/views.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/buttons.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/image-button.css?o1p4h9");
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/components/ui-dialog.css?o1p4h9");
</style>
<link rel="stylesheet" href="http://localhost:8888/jfhp_org/core/themes/bartik/css/components/messages.css?o1p4h9" media="all" />
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/colors.css?o1p4h9");
</style>
<style media="print">
@import url("http://localhost:8888/jfhp_org/core/themes/bartik/css/print.css?o1p4h9");
</style>

    
<!--[if lte IE 8]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
<![endif]-->

  </head>
  <body class="layout-one-sidebar layout-sidebar-first user-logged-in path-node page-node-type-article">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    
    <div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="Site header">
      <div class="section layout-container clearfix">
          <div class="region region-secondary-menu">
    <nav role="navigation" aria-labelledby="block-bartik-account-menu-menu" id="block-bartik-account-menu" class="contextual-region block block-menu navigation menu--account">
            
  <h2 class="visually-hidden" id="block-bartik-account-menu-menu">User account menu</h2>
  <div data-contextual-id="block:block=bartik_account_menu:langcode=en|menu:menu=account:langcode=en"></div>

      <div class="content">
        <div class="menu-toggle-target menu-toggle-target-show" id="show-block-bartik-account-menu"></div>
    <div class="menu-toggle-target" id="hide-block-bartik-account-menu"></div>
    <a class="menu-toggle" href="#show-block-bartik-account-menu">Show &mdash; User account menu</a>
    <a class="menu-toggle menu-toggle--hide" href="#hide-block-bartik-account-menu">Hide &mdash; User account menu</a>
    
              <ul class="clearfix menu">
                    <li class="menu-item">
        <a href="/jfhp_org/user" data-drupal-link-system-path="user">My account</a>
              </li>
                <li class="menu-item">
        <a href="/jfhp_org/user/logout" data-drupal-link-system-path="user/logout">Log out</a>
              </li>
        </ul>
  


  </div>
</nav>

  </div>

          <div class="clearfix region region-header">
    <div id="block-bartik-branding" class="contextual-region clearfix site-branding block block-system block-system-branding-block">
  
    <div data-contextual-id="block:block=bartik_branding:langcode=en"></div>
        <a href="/jfhp_org/" title="Home" rel="home" class="site-branding__logo">
      <img src="http://localhost:8888/jfhp_org/core/themes/bartik/logo.svg" alt="Home" />
    </a>
        <div class="site-branding__text">
              <div class="site-branding__name">
          <a href="/jfhp_org/" title="Home" rel="home">Drupal</a>
        </div>
                </div>
  </div>

  </div>

          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-bartik-main-menu-menu" id="block-bartik-main-menu" class="contextual-region block block-menu navigation menu--main">
            
  <h2 class="visually-hidden" id="block-bartik-main-menu-menu">Main navigation</h2>
  <div data-contextual-id="block:block=bartik_main_menu:langcode=en|menu:menu=main:langcode=en"></div>

      <div class="content">
        <div class="menu-toggle-target menu-toggle-target-show" id="show-block-bartik-main-menu"></div>
    <div class="menu-toggle-target" id="hide-block-bartik-main-menu"></div>
    <a class="menu-toggle" href="#show-block-bartik-main-menu">Show &mdash; Main navigation</a>
    <a class="menu-toggle menu-toggle--hide" href="#hide-block-bartik-main-menu">Hide &mdash; Main navigation</a>
    
              <ul class="clearfix menu">
                    <li class="menu-item">
        <a href="/jfhp_org/" data-drupal-link-system-path="&lt;front&gt;">Home</a>
              </li>
        </ul>
  


  </div>
</nav>

  </div>

      </div>
    </header>
          <div class="highlighted">
        <aside class="layout-container section clearfix" role="complementary">
            <div class="region region-highlighted">
    
      
    <div class="messages__wrapper layout-container">
          <div role="contentinfo" aria-label="Status message" class="messages messages--status">
                  <h2 class="visually-hidden">Status message</h2>
                    Article <em class="placeholder">Public Article created by i6ANm3zN</em> has been created.
            </div>
    

    </div>
  

  </div>

        </aside>
      </div>
            <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
      <div id="main" class="layout-main clearfix">
          <div class="region region-breadcrumb">
    <div id="block-bartik-breadcrumbs" class="contextual-region block block-system block-system-breadcrumb-block">
  
    <div data-contextual-id="block:block=bartik_breadcrumbs:langcode=en"></div>
      <div class="content">
        <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
    <ol>
          <li>
                  <a href="/jfhp_org/">Home</a>
              </li>
        </ol>
  </nav>

    </div>
  </div>

  </div>

        <main id="content" class="column main-content" role="main">
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
              <div class="region region-content">
    <div id="block-bartik-page-title" class="contextual-region block block-core block-page-title-block">
  
    <div data-contextual-id="block:block=bartik_page_title:langcode=en"></div>
      <div class="content">
      
  <h1 class="js-quickedit-page-title title page-title"><span property="schema:name" data-quickedit-field-id="node/3/title/en/full" class="field field--name-title field--type-string field--label-hidden">Public Article created by i6ANm3zN</span>
</h1>


    </div>
  </div>
<div id="block-bartik-content" class="block block-system block-system-main-block">
  
    
      <div class="content">
      
<article data-history-node-id="3" data-quickedit-entity-id="node/3" role="article" class="contextual-region node node--type-article node--promoted node--view-mode-full clearfix" about="/jfhp_org/node/3" typeof="schema:Article">
  <header>
    
        <div data-contextual-id="node:node=3:changed=1454040119&amp;langcode=en"></div>  <span property="schema:name" content="Public Article created by i6ANm3zN" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

          <div class="node__meta">
        <article data-quickedit-entity-id="user/3" typeof="schema:Person" about="/jfhp_org/user/3" class="profile">
  </article>

        <span>
          Submitted by <span data-quickedit-field-id="node/3/uid/en/full" rel="schema:author" class="field field--name-uid field--type-entity-reference field--label-hidden"><span lang="" about="/jfhp_org/user/3" typeof="schema:Person" property="schema:name" datatype="">i6ANm3zN</span></span>
 on <span property="schema:dateCreated" content="2016-01-29T04:01:59+00:00" data-quickedit-field-id="node/3/created/en/full" class="field field--name-created field--type-created field--label-hidden">Fri, 01/29/2016 - 15:01</span>
        </span>
          <span property="schema:dateCreated" content="2016-01-29T04:01:59+00:00" class="rdf-meta hidden"></span>

      </div>
      </header>
  <div class="node__content clearfix">
    
            <div property="schema:text" data-quickedit-field-id="node/3/body/en/full" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">public node</div>
      <div data-quickedit-field-id="node/3/field_tags/en/full" class="field field--name-field-tags field--type-entity-reference field--label-above clearfix">
      <h3 class="field__label">Tags</h3>
    <ul class="links field__items">
          <li><a href="/jfhp_org/taxonomy/term/1" property="schema:about" hreflang="en">public</a></li>
      </ul>
</div>
<section rel="schema:comment" data-quickedit-field-id="node/3/comment/en/full" class="field field--name-comment field--type-comment field--label-above comment-wrapper">
  
  

      <h2 class="title comment-form__title">Add new comment</h2>
    <form class="comment-comment-form comment-form" data-drupal-selector="comment-form" action="/jfhp_org/comment/reply/node/3/comment" method="post" id="comment-form" accept-charset="UTF-8">
  <input data-drupal-selector="form-wn09bx-rmwtlz3nvucdkfbwtm9ndoh-aa2sfxsahd3q" type="hidden" name="form_build_id" value="form-wn09BX-RmWtlz3NvuCDKfBWTM9NdOH-Aa2sfXSaHd3Q" />
<input data-drupal-selector="edit-comment-comment-form-form-token" type="hidden" name="form_token" value="1OPexbOnD_sKFOzNjjIrfUFKMA1leQ1x0nBw2y_B4uQ" />
<input data-drupal-selector="edit-comment-comment-form" type="hidden" name="form_id" value="comment_comment_form" />
<div class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper" data-drupal-selector="edit-langcode-wrapper" id="edit-langcode-wrapper">      
  </div>
<div class="field--type-string field--name-subject field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-subject-wrapper" id="edit-subject-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-subject-0-value form-item-subject-0-value">
      <label for="edit-subject-0-value">Subject</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-subject-0-value" type="text" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="64" placeholder="" />

        </div>

  </div>
<div class="field--type-text-long field--name-comment-body field--widget-text-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-body-wrapper" id="edit-comment-body-wrapper">      <div class="js-text-format-wrapper text-format-wrapper js-form-item form-item">
  <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-comment-body-0-value form-item-comment-body-0-value">
      <label for="edit-comment-body-0-value" class="js-form-required form-required">Comment</label>
        <div class="form-textarea-wrapper">
  <textarea class="js-text-full text-full form-textarea required resize-vertical" data-drupal-selector="edit-comment-body-0-value" id="edit-comment-body-0-value" name="comment_body[0][value]" rows="5" cols="60" placeholder="" required="required" aria-required="true"></textarea>
</div>

        </div>
<div class="filter-wrapper js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-body-0-format" id="edit-comment-body-0-format"><div class="filter-help js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-body-0-format-help" id="edit-comment-body-0-format-help"><a href="/jfhp_org/filter/tips" target="_blank" data-drupal-selector="edit-comment-body-0-format-help-about" id="edit-comment-body-0-format-help-about">About text formats</a></div>
<input data-editor-for="edit-comment-body-0-value" type="hidden" name="comment_body[0][format]" value="basic_html" />
<div class="filter-guidelines js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-body-0-format-guidelines" id="edit-comment-body-0-format-guidelines"></div>
</div>

  </div>

  </div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Save" class="button button--primary js-form-submit form-submit" />
<input data-drupal-selector="edit-preview" type="submit" id="edit-preview" name="op" value="Preview" class="button js-form-submit form-submit" />
</div>

</form>

  
</section>

  </div>
</article>

    </div>
  </div>

  </div>

          </section>
        </main>
                  <div id="sidebar-first" class="column sidebar">
            <aside class="section" role="complementary">
                <div class="region region-sidebar-first">
    <div class="search-block-form contextual-region block block-search container-inline" data-drupal-selector="search-block-form" id="block-bartik-search" role="search">
  
      <h2>Search</h2>
    <div data-contextual-id="block:block=bartik_search:langcode=en"></div>
    <div class="content container-inline">
        <form action="/jfhp_org/search/node" method="get" id="search-block-form" accept-charset="UTF-8" class="search-form search-block-form">
  <div class="js-form-item form-item js-form-type-search form-type-search js-form-item-keys form-item-keys form-no-label">
      <label for="edit-keys" class="visually-hidden">Search</label>
        <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search" />

        </div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input class="search-form__submit button js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="" value="Search" />
</div>

</form>

  
  </div>
</div>
<nav role="navigation" aria-labelledby="block-bartik-tools-menu" id="block-bartik-tools" class="contextual-region block block-menu navigation menu--tools">
      
  <h2 id="block-bartik-tools-menu">Tools</h2>
  <div data-contextual-id="block:block=bartik_tools:langcode=en|menu:menu=tools:langcode=en"></div>

      <div class="content">
        <div class="menu-toggle-target menu-toggle-target-show" id="show-block-bartik-tools"></div>
    <div class="menu-toggle-target" id="hide-block-bartik-tools"></div>
    <a class="menu-toggle" href="#show-block-bartik-tools">Show &mdash; Tools</a>
    <a class="menu-toggle menu-toggle--hide" href="#hide-block-bartik-tools">Hide &mdash; Tools</a>
    
              <ul class="clearfix menu">
                    <li class="menu-item">
        <a href="/jfhp_org/node/add" data-drupal-link-system-path="node/add">Add content</a>
              </li>
        </ul>
  


  </div>
</nav>

  </div>

            </aside>
          </div>
                      </div>
    </div>
        <footer class="site-footer">
      <div class="layout-container">
                          <div class="site-footer__bottom">
              <div class="region region-footer-fifth">
    <nav role="navigation" aria-labelledby="block-bartik-footer-menu" id="block-bartik-footer" class="contextual-region block block-menu navigation menu--footer">
            
  <h2 class="visually-hidden" id="block-bartik-footer-menu">Footer menu</h2>
  <div data-contextual-id="block:block=bartik_footer:langcode=en|menu:menu=footer:langcode=en"></div>

      <div class="content">
        <div class="menu-toggle-target menu-toggle-target-show" id="show-block-bartik-footer"></div>
    <div class="menu-toggle-target" id="hide-block-bartik-footer"></div>
    <a class="menu-toggle" href="#show-block-bartik-footer">Show &mdash; Footer menu</a>
    <a class="menu-toggle menu-toggle--hide" href="#hide-block-bartik-footer">Hide &mdash; Footer menu</a>
    
              <ul class="clearfix menu">
                    <li class="menu-item">
        <a href="/jfhp_org/contact" data-drupal-link-system-path="contact">Contact</a>
              </li>
        </ul>
  


  </div>
</nav>
<div id="block-bartik-powered" class="contextual-region block block-system block-system-powered-by-block" role="complementary">
  
    <div data-contextual-id="block:block=bartik_powered:langcode=en"></div>
      <div class="content">
      <span>Powered by <a href="https://www.drupal.org">Drupal</a></span>
    </div>
  </div>

  </div>

          </div>
              </div>
    </footer>
  </div>
</div>

    
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/jfhp_org\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/3","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","ajaxPageState":{"libraries":"bartik\/global-styling,bartik\/messages,ckeditor\/drupal.ckeditor,ckeditor\/drupal.ckeditor.plugins.drupalimagecaption,classy\/base,classy\/messages,classy\/node,core\/drupal.active-link,core\/html5shiv,core\/normalize,filter\/drupal.filter,history\/mark-as-read,system\/base","theme":"bartik","theme_token":null},"ajaxTrustedUrl":{"\/jfhp_org\/search\/node":true,"\/jfhp_org\/comment\/reply\/node\/3\/comment":true},"history":{"nodesToMarkAsRead":{"3":true}},"editor":{"formats":{"basic_html":{"format":"basic_html","editor":"ckeditor","editorSettings":{"allowedContent":{"*":{"attributes":"lang,dir","styles":false,"classes":false},"a":{"attributes":"href,hreflang","styles":false,"classes":false},"blockquote":{"attributes":"cite","styles":false,"classes":false},"br":{"attributes":false,"styles":false,"classes":false},"cite":{"attributes":false,"styles":false,"classes":false},"code":{"attributes":false,"styles":false,"classes":false},"dd":{"attributes":false,"styles":false,"classes":false},"dl":{"attributes":false,"styles":false,"classes":false},"dt":{"attributes":false,"styles":false,"classes":false},"em":{"attributes":false,"styles":false,"classes":false},"h2":{"attributes":"id","styles":false,"classes":false},"h3":{"attributes":"id","styles":false,"classes":false},"h4":{"attributes":"id","styles":false,"classes":false},"h5":{"attributes":"id","styles":false,"classes":false},"h6":{"attributes":"id","styles":false,"classes":false},"img":{"attributes":"src,alt,height,width,data-entity-type,data-entity-uuid,data-align,data-caption","styles":false,"classes":false},"li":{"attributes":false,"styles":false,"classes":false},"ol":{"attributes":"start,type","styles":false,"classes":false},"p":{"attributes":false,"styles":false,"classes":false},"span":{"attributes":false,"styles":false,"classes":false},"strong":{"attributes":false,"styles":false,"classes":false},"ul":{"attributes":"type","styles":false,"classes":false}},"contentsCss":["http:\/\/localhost:8888\/jfhp_org\/core\/modules\/ckeditor\/css\/ckeditor-iframe.css","http:\/\/localhost:8888\/jfhp_org\/core\/modules\/system\/css\/components\/align.module.css","http:\/\/localhost:8888\/jfhp_org\/core\/modules\/filter\/css\/filter.caption.css","http:\/\/localhost:8888\/jfhp_org\/core\/modules\/ckeditor\/css\/plugins\/drupalimagecaption\/ckeditor.drupalimagecaption.css","http:\/\/localhost:8888\/jfhp_org\/core\/themes\/bartik\/css\/base\/elements.css","http:\/\/localhost:8888\/jfhp_org\/core\/themes\/bartik\/css\/components\/captions.css","http:\/\/localhost:8888\/jfhp_org\/core\/themes\/bartik\/css\/components\/table.css"],"customConfig":"","disallowedContent":{"*":{"attributes":"on*"}},"drupalExternalPlugins":{"drupalimage":"http:\/\/localhost:8888\/jfhp_org\/core\/modules\/ckeditor\/js\/plugins\/drupalimage\/plugin.js","drupalimagecaption":"http:\/\/localhost:8888\/jfhp_org\/core\/modules\/ckeditor\/js\/plugins\/drupalimagecaption\/plugin.js","drupallink":"http:\/\/localhost:8888\/jfhp_org\/core\/modules\/ckeditor\/js\/plugins\/drupallink\/plugin.js"},"drupalImageCaption_alignFilterEnabled":true,"drupalImageCaption_captionFilterEnabled":true,"drupalImageCaption_captionPlaceholderText":"Enter caption here","drupalImage_dialogTitleAdd":"Insert Image","drupalImage_dialogTitleEdit":"Edit Image","drupalLink_dialogTitleAdd":"Add Link","drupalLink_dialogTitleEdit":"Edit Link","entities":false,"extraPlugins":"drupalimage,drupalimagecaption,drupallink","format_tags":"p;h2;h3;h4;h5;h6","image2_alignClasses":["align-left","align-center","align-right"],"image2_captionedClass":"caption caption-img","justifyClasses":["text-align-left","text-align-center","text-align-right","text-align-justify"],"language":"en","pasteFromWordPromptCleanup":true,"resize_dir":"vertical","stylesSet":false,"toolbar":[{"name":"Formatting","items":["Bold","Italic"]},{"name":"Linking","items":["DrupalLink","DrupalUnlink"]},{"name":"Lists","items":["BulletedList","NumberedList"]},{"name":"Media","items":["Blockquote","DrupalImage"]},{"name":"Block Formatting","items":["Format"]},{"name":"Tools","items":["Source"]},"\/"]},"editorSupportsContentFiltering":true,"isXssSafe":false}}},"user":{"uid":"3","permissionsHash":"4ab86d73c34f09bce762698c26e250307b5cf9daa0b37ec197efd32568267eb6"}}</script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>

<!--[if lte IE 9]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/classList/classList.min.js?v=2014-12-13"></script>
<![endif]-->
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery/jquery.min.js?v=2.1.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.1.1"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupalSettingsLoader.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupal.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/core-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/widget-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/active-link.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/progress.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/ajax.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/history/js/history.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/history/js/mark-as-read.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/filter/filter.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/debounce.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/displace.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/button-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/mouse-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/draggable-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/position-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/resizable-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/dialog-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/dialog/dialog.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/dialog/dialog.position.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/dialog/dialog.jquery-ui.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/editor/js/editor.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/ckeditor/ckeditor.js?v=4.5.5"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/matchMedia/matchMedia.min.js?v=0.2.0"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/ckeditor/js/ckeditor.js?v=8.0.2"></script>

  </body>
</html>
