<hr />ID #12 (<a href="Drupal_node_Tests_NodeBlockFunctionalTest-11-1.html">Previous</a> | <a href="Drupal_node_Tests_NodeBlockFunctionalTest-13-1.html">Next</a>)<hr />POST request to: admin/structure/block/add/system_powered_by_block/classy<hr />Ending URL: http://localhost:8888/jfhp_org/admin/structure/block/list/classy?block-placement=yjvf3re3<hr />Fields: <code><span style="color: #000000">
<span style="color: #0000BB">&lt;?php&nbsp;</span><span style="color: #007700">array&nbsp;(<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'settings[label]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Powered&nbsp;by&nbsp;Drupal'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'settings[label_display]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'visible'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'visibility[node_type][bundles][article]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'article'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'visibility[request_path][pages]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'visibility[request_path][negate]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'0'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'visibility_tabs[visibility_tabs__active_tab]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'yjvf3re3'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'region'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'sidebar_first'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_build_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'form-L1gbxAJHqj12Zfjt7k4eszew7GTcyUDDbeRR7huw9X0'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_token'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'AvEazm6A0kkkeD_CmyHDCBIv6WTj-klxTpj_m2sfKDs'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'block_form'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'op'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Save&nbsp;block'</span><span style="color: #007700">,<br />)</span>
</span>
</code><hr /><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://localhost:8888/jfhp_org/core/misc/favicon.ico" type="image/vnd.microsoft.icon" />

    <title>Block layout | Drupal</title>
    <style media="all">
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/normalize-css/normalize.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/ajax-progress.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/align.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/autocomplete-loading.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/fieldgroup.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/container-inline.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/clearfix.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/details.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/hidden.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/item-list.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/js.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/nowrap.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/position-container.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/progress.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/reset-appearance.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/resize.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/sticky-header.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tabledrag.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tablesort.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tree-child.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/core/dropbutton/dropbutton.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/views/views.module.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/system.admin.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/block/block.admin.css?o1p4uc");
</style>
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/action-links.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/breadcrumb.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/button.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/collapse-processed.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/container-inline.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/details.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/exposed-filters.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/field.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/form.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/icons.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/inline-form.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/item-list.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/link.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/links.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/menu.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/more-link.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/pager.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabledrag.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tableselect.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tablesort.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabs.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/textarea.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/ui-dialog.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/dropbutton.css?o1p4uc");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/messages.css?o1p4uc");
</style>

    
<!--[if lte IE 8]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
<![endif]-->

  </head>
  <body class="user-logged-in path-admin">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    
    <div class="layout-container">

  <header role="banner">
    
  </header>

  
  

  

  

  

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
        <div class="region region-content">
    
    <div role="contentinfo" aria-label="Status message" class="messages messages--status">
                  <h2 class="visually-hidden">Status message</h2>
                    The block configuration has been saved.
            </div>
    
<form class="block-admin-display-form clearfix" data-drupal-selector="block-admin-display-form" action="/jfhp_org/admin/structure/block/list/classy?block-placement=yjvf3re3" method="post" id="block-admin-display-form" accept-charset="UTF-8">
  <table id="blocks" data-drupal-selector="edit-blocks" class="responsive-enabled" data-striping="1">
  
  
      <thead>
      <tr>
                            <th>Block</th>
                            <th>Category</th>
                            <th>Region</th>
                            <th>Weight</th>
                            <th>Operations</th>
              </tr>
    </thead>
  
      <tbody>
                      <tr class="region-title region-title-sidebar_first odd" data-drupal-selector="edit-blocks-region-sidebar-first">
                      <td colspan="5">Left sidebar<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-sidebar-first-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=sidebar_first" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-sidebar-first-title" id="edit-blocks-region-sidebar-first-title">Place block <span class="visually-hidden">in the <em class="placeholder">Left sidebar</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-sidebar_first-message region-populated even" data-drupal-selector="edit-blocks-region-sidebar-first-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="draggable color-success js-block-placed odd" data-drupal-selector="edit-blocks-yjvf3re3">
                      <td class="block">Powered by Drupal</td>
                      <td>System</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-blocks-yjvf3re3-region form-item-blocks-yjvf3re3-region form-no-label">
      <label for="edit-blocks-yjvf3re3-region" class="visually-hidden">Region for Powered by Drupal block</label>
        <select class="block-region-select block-region-sidebar_first form-select" data-drupal-selector="edit-blocks-yjvf3re3-region" id="edit-blocks-yjvf3re3-region" name="blocks[yjvf3re3][region]"><option value="-1">- None -</option><option value="sidebar_first" selected="selected">Left sidebar</option><option value="sidebar_second">Right sidebar</option><option value="content">Content</option><option value="header">Header</option><option value="primary_menu">Primary menu</option><option value="secondary_menu">Secondary menu</option><option value="footer">Footer</option><option value="highlighted">Highlighted</option><option value="help">Help</option><option value="breadcrumb">Breadcrumb</option></select>
        </div>
<input data-drupal-selector="edit-blocks-yjvf3re3-theme" type="hidden" name="blocks[yjvf3re3][theme]" value="classy" />
</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-blocks-yjvf3re3-weight form-item-blocks-yjvf3re3-weight form-no-label">
      <label for="edit-blocks-yjvf3re3-weight" class="visually-hidden">Weight for Powered by Drupal block</label>
        <select class="block-weight block-weight-sidebar_first form-select" data-drupal-selector="edit-blocks-yjvf3re3-weight" id="edit-blocks-yjvf3re3-weight" name="blocks[yjvf3re3][weight]"><option value="-1">-1</option><option value="0">0</option><option value="1">1</option></select>
        </div>
</td>
                      <td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul data-drupal-selector="edit-blocks-yjvf3re3-operations" class="dropbutton"><li class="edit"><a href="/jfhp_org/admin/structure/block/manage/yjvf3re3">Configure</a></li><li class="delete"><a href="/jfhp_org/admin/structure/block/manage/yjvf3re3/delete">Delete</a></li></ul></div></div></td>
                  </tr>
                      <tr class="draggable even" data-drupal-selector="edit-blocks-test-block">
                      <td class="block">jB9Hcfnz</td>
                      <td>Lists (Views)</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-blocks-test-block-region form-item-blocks-test-block-region form-no-label">
      <label for="edit-blocks-test-block-region" class="visually-hidden">Region for jB9Hcfnz block</label>
        <select class="block-region-select block-region-sidebar_first form-select" data-drupal-selector="edit-blocks-test-block-region" id="edit-blocks-test-block-region" name="blocks[test_block][region]"><option value="-1">- None -</option><option value="sidebar_first" selected="selected">Left sidebar</option><option value="sidebar_second">Right sidebar</option><option value="content">Content</option><option value="header">Header</option><option value="primary_menu">Primary menu</option><option value="secondary_menu">Secondary menu</option><option value="footer">Footer</option><option value="highlighted">Highlighted</option><option value="help">Help</option><option value="breadcrumb">Breadcrumb</option></select>
        </div>
<input data-drupal-selector="edit-blocks-test-block-theme" type="hidden" name="blocks[test_block][theme]" value="classy" />
</td>
                      <td><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-blocks-test-block-weight form-item-blocks-test-block-weight form-no-label">
      <label for="edit-blocks-test-block-weight" class="visually-hidden">Weight for jB9Hcfnz block</label>
        <select class="block-weight block-weight-sidebar_first form-select" data-drupal-selector="edit-blocks-test-block-weight" id="edit-blocks-test-block-weight" name="blocks[test_block][weight]"><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option></select>
        </div>
</td>
                      <td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul data-drupal-selector="edit-blocks-test-block-operations" class="dropbutton"><li class="edit"><a href="/jfhp_org/admin/structure/block/manage/test_block">Configure</a></li><li class="delete"><a href="/jfhp_org/admin/structure/block/manage/test_block/delete">Delete</a></li></ul></div></div></td>
                  </tr>
                      <tr class="region-title region-title-sidebar_second odd" data-drupal-selector="edit-blocks-region-sidebar-second">
                      <td colspan="5">Right sidebar<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-sidebar-second-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=sidebar_second" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-sidebar-second-title" id="edit-blocks-region-sidebar-second-title">Place block <span class="visually-hidden">in the <em class="placeholder">Right sidebar</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-sidebar_second-message region-empty even" data-drupal-selector="edit-blocks-region-sidebar-second-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="region-title region-title-content odd" data-drupal-selector="edit-blocks-region-content">
                      <td colspan="5">Content<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-content-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=content" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-content-title" id="edit-blocks-region-content-title">Place block <span class="visually-hidden">in the <em class="placeholder">Content</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-content-message region-empty even" data-drupal-selector="edit-blocks-region-content-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="region-title region-title-header odd" data-drupal-selector="edit-blocks-region-header">
                      <td colspan="5">Header<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-header-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=header" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-header-title" id="edit-blocks-region-header-title">Place block <span class="visually-hidden">in the <em class="placeholder">Header</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-header-message region-empty even" data-drupal-selector="edit-blocks-region-header-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="region-title region-title-primary_menu odd" data-drupal-selector="edit-blocks-region-primary-menu">
                      <td colspan="5">Primary menu<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-primary-menu-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=primary_menu" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-primary-menu-title" id="edit-blocks-region-primary-menu-title">Place block <span class="visually-hidden">in the <em class="placeholder">Primary menu</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-primary_menu-message region-empty even" data-drupal-selector="edit-blocks-region-primary-menu-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="region-title region-title-secondary_menu odd" data-drupal-selector="edit-blocks-region-secondary-menu">
                      <td colspan="5">Secondary menu<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-secondary-menu-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=secondary_menu" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-secondary-menu-title" id="edit-blocks-region-secondary-menu-title">Place block <span class="visually-hidden">in the <em class="placeholder">Secondary menu</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-secondary_menu-message region-empty even" data-drupal-selector="edit-blocks-region-secondary-menu-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="region-title region-title-footer odd" data-drupal-selector="edit-blocks-region-footer">
                      <td colspan="5">Footer<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-footer-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=footer" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-footer-title" id="edit-blocks-region-footer-title">Place block <span class="visually-hidden">in the <em class="placeholder">Footer</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-footer-message region-empty even" data-drupal-selector="edit-blocks-region-footer-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="region-title region-title-highlighted odd" data-drupal-selector="edit-blocks-region-highlighted">
                      <td colspan="5">Highlighted<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-highlighted-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=highlighted" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-highlighted-title" id="edit-blocks-region-highlighted-title">Place block <span class="visually-hidden">in the <em class="placeholder">Highlighted</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-highlighted-message region-empty even" data-drupal-selector="edit-blocks-region-highlighted-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="region-title region-title-help odd" data-drupal-selector="edit-blocks-region-help">
                      <td colspan="5">Help<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-help-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=help" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-help-title" id="edit-blocks-region-help-title">Place block <span class="visually-hidden">in the <em class="placeholder">Help</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-help-message region-empty even" data-drupal-selector="edit-blocks-region-help-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="region-title region-title-breadcrumb odd" data-drupal-selector="edit-blocks-region-breadcrumb">
                      <td colspan="5">Breadcrumb<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-breadcrumb-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=breadcrumb" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-breadcrumb-title" id="edit-blocks-region-breadcrumb-title">Place block <span class="visually-hidden">in the <em class="placeholder">Breadcrumb</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region-breadcrumb-message region-empty even" data-drupal-selector="edit-blocks-region-breadcrumb-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
                      <tr class="region-title region-title--1 odd" data-drupal-selector="edit-blocks-region-1">
                      <td colspan="5">Disabled<div class="region-title__action js-form-wrapper form-wrapper" id="edit-blocks-region-1-title"><a href="/jfhp_org/admin/structure/block/library/classy?region=-1" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" data-drupal-selector="edit-blocks-region-1-title" id="edit-blocks-region-1-title">Place block <span class="visually-hidden">in the <em class="placeholder">Disabled</em> region</span></a></div>
</td>
                  </tr>
                      <tr class="region-message region--1-message region-empty even" data-drupal-selector="edit-blocks-region-1-message">
                      <td colspan="5"><em>No blocks in this region</em></td>
                  </tr>
          </tbody>
    </table>
<input data-drupal-selector="form-wlno8kqzbbobwajgisroshdro3khjzjzepfgqzqoedw" type="hidden" name="form_build_id" value="form-WLNo8kQzbbOBWajgisroSHDro3KhjzjzEpfGqZqoedw" />
<input data-drupal-selector="edit-block-admin-display-form-form-token" type="hidden" name="form_token" value="RHEOLh2DcJRNaQzTHioxTV8gjM5JTTUSryEMR2sUVaE" />
<input data-drupal-selector="edit-block-admin-display-form" type="hidden" name="form_id" value="block_admin_display_form" />
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Save blocks" class="button button--primary js-form-submit form-submit" />
</div>

</form>

  </div>

    </div>
          <aside class="layout-sidebar-first" role="complementary">
          <div class="region region-sidebar-first">
    <div class="views-element-container block block-views block-views-blockcontent-recent-block-1" id="block-test-block">
  
      <h2>Recent content</h2>
    
      <div><div class="view view-content-recent view-id-content_recent view-display-id-block_1 js-view-dom-id-2449170efac401a7e5fe98a500ff79fa13691aa0b317e9114142f1d784765a1f">
  
    
      
      <div class="view-content">
      <div class="item-list">
  
  <ul>

          <li><div class="views-field views-field-title"><span class="field-content"><a href="/jfhp_org/node/3" hreflang="en">yChA1FXF</a></span></div><div class="views-field views-field-changed"><span class="field-content">24 seconds ago</span></div></li>
          <li><div class="views-field views-field-title"><span class="field-content"><a href="/jfhp_org/node/2" hreflang="en">wKbubClv</a></span></div><div class="views-field views-field-changed"><span class="field-content">24 seconds ago</span></div></li>
          <li><div class="views-field views-field-title"><span class="field-content"><a href="/jfhp_org/node/1" hreflang="en">zF5Agq1H</a></span></div><div class="views-field views-field-changed"><span class="field-content">24 seconds ago</span></div></li>
          <li><div class="views-field views-field-title"><span class="field-content"><a href="/jfhp_org/node/4" hreflang="en">hLb04JVU</a></span></div><div class="views-field views-field-changed"><span class="field-content">24 seconds ago</span></div></li>
    
  </ul>

</div>

    </div>
  
          </div>
</div>

  </div>

  </div>

      </aside>
    
    
  </main>

  
</div>
    
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/jfhp_org\/","scriptPath":null,"pathPrefix":"","currentPath":"admin\/structure\/block\/list\/classy","currentPathIsAdmin":true,"isFront":false,"currentLanguage":"en","currentQuery":{"block-placement":"yjvf3re3"}},"pluralDelimiter":"\u0003","ajaxPageState":{"libraries":"block\/drupal.block,block\/drupal.block.admin,classy\/base,classy\/messages,core\/drupal.active-link,core\/drupal.dropbutton,core\/drupal.tabledrag,core\/drupal.tableheader,core\/drupal.tableresponsive,core\/html5shiv,core\/normalize,system\/admin,views\/views.module","theme":"classy","theme_token":null},"ajaxTrustedUrl":{"form_action_cc611e1d":true},"blockPlacement":"yjvf3re3","tableDrag":{"blocks":{"block-region-select":{"0":{"target":"block-region-sidebar_first","source":"block-region-sidebar_first","relationship":"sibling","action":"match","hidden":false,"limit":0},"2":{"target":"block-region-sidebar_second","source":"block-region-sidebar_second","relationship":"sibling","action":"match","hidden":false,"limit":0},"4":{"target":"block-region-content","source":"block-region-content","relationship":"sibling","action":"match","hidden":false,"limit":0},"6":{"target":"block-region-header","source":"block-region-header","relationship":"sibling","action":"match","hidden":false,"limit":0},"8":{"target":"block-region-primary_menu","source":"block-region-primary_menu","relationship":"sibling","action":"match","hidden":false,"limit":0},"10":{"target":"block-region-secondary_menu","source":"block-region-secondary_menu","relationship":"sibling","action":"match","hidden":false,"limit":0},"12":{"target":"block-region-footer","source":"block-region-footer","relationship":"sibling","action":"match","hidden":false,"limit":0},"14":{"target":"block-region-highlighted","source":"block-region-highlighted","relationship":"sibling","action":"match","hidden":false,"limit":0},"16":{"target":"block-region-help","source":"block-region-help","relationship":"sibling","action":"match","hidden":false,"limit":0},"18":{"target":"block-region-breadcrumb","source":"block-region-breadcrumb","relationship":"sibling","action":"match","hidden":false,"limit":0},"20":{"target":"block-region--1","source":"block-region--1","relationship":"sibling","action":"match","hidden":false,"limit":0}},"block-weight":{"1":{"target":"block-weight-sidebar_first","source":"block-weight-sidebar_first","relationship":"sibling","action":"order","hidden":true,"limit":0},"3":{"target":"block-weight-sidebar_second","source":"block-weight-sidebar_second","relationship":"sibling","action":"order","hidden":true,"limit":0},"5":{"target":"block-weight-content","source":"block-weight-content","relationship":"sibling","action":"order","hidden":true,"limit":0},"7":{"target":"block-weight-header","source":"block-weight-header","relationship":"sibling","action":"order","hidden":true,"limit":0},"9":{"target":"block-weight-primary_menu","source":"block-weight-primary_menu","relationship":"sibling","action":"order","hidden":true,"limit":0},"11":{"target":"block-weight-secondary_menu","source":"block-weight-secondary_menu","relationship":"sibling","action":"order","hidden":true,"limit":0},"13":{"target":"block-weight-footer","source":"block-weight-footer","relationship":"sibling","action":"order","hidden":true,"limit":0},"15":{"target":"block-weight-highlighted","source":"block-weight-highlighted","relationship":"sibling","action":"order","hidden":true,"limit":0},"17":{"target":"block-weight-help","source":"block-weight-help","relationship":"sibling","action":"order","hidden":true,"limit":0},"19":{"target":"block-weight-breadcrumb","source":"block-weight-breadcrumb","relationship":"sibling","action":"order","hidden":true,"limit":0},"21":{"target":"block-weight--1","source":"block-weight--1","relationship":"sibling","action":"order","hidden":true,"limit":0}}}},"user":{"uid":"2","permissionsHash":"06d62c7390f4764274fd0a3ac9e86f14861bf2d40230674ca710fb329933b77a"}}</script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>

<!--[if lte IE 9]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/classList/classList.min.js?v=2014-12-13"></script>
<![endif]-->
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery/jquery.min.js?v=2.1.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.1.1"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupalSettingsLoader.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupal.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/tabledrag.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/active-link.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/debounce.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/displace.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/tableheader.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/block/js/block.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/progress.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/ajax.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/block/js/block.admin.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/tableresponsive.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.cookie/jquery.cookie.min.js?v=1.4.1"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/dropbutton/dropbutton.js?v=8.0.2"></script>

  </body>
</html>
