<hr />ID #35 (<a href="Drupal_node_Tests_NodeEditFormTest-34-1.html">Previous</a> | <a href="Drupal_node_Tests_NodeEditFormTest-36-1.html">Next</a>)<hr />POST request to: node/1/edit<hr />Ending URL: http://localhost:8888/jfhp_org/node/1<hr />Fields: <code><span style="color: #000000">
<span style="color: #0000BB">&lt;?php&nbsp;</span><span style="color: #007700">array&nbsp;(<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'title[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'joUSIgAr'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'changed'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1454040767'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_build_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'form-Gsx2N68Q5cj8OfXMCLYhzxB3_tgDCmUvL8zD5ADffcE'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_token'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'RqU2DjXcxW4Dex6ifl0-pZz9RwOVqORzX6EjxTOcHx8'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'node_page_edit_form'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'body[0][summary]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'body[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'hzA1ZhZQLzQSO2SM'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'revision_log[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'uid[target_id]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'k5ZEqhpp'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'created[0][value][date]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'2016-01-29'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'created[0][value][time]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'15:12:43'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'promote[value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'advanced__active_tab'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'op'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Save&nbsp;and&nbsp;keep&nbsp;published'</span><span style="color: #007700">,<br />)</span>
</span>
</code><hr /><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://localhost:8888/jfhp_org/core/misc/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="canonical" href="/jfhp_org/node/1" />
<link rel="shortlink" href="/jfhp_org/node/1" />
<link rel="delete-form" href="/jfhp_org/node/1/delete" />
<link rel="edit-form" href="/jfhp_org/node/1/edit" />
<link rel="version-history" href="/jfhp_org/node/1/revisions" />
<link rel="revision" href="/jfhp_org/node/1" />

    <title>joUSIgAr | Drupal</title>
    <style media="all">
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/normalize-css/normalize.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/ajax-progress.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/align.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/autocomplete-loading.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/fieldgroup.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/container-inline.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/clearfix.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/details.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/hidden.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/item-list.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/js.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/nowrap.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/position-container.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/progress.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/reset-appearance.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/resize.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/sticky-header.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tabledrag.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tablesort.module.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tree-child.module.css?o1p502");
</style>
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/action-links.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/breadcrumb.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/button.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/collapse-processed.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/container-inline.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/details.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/exposed-filters.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/field.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/form.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/icons.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/inline-form.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/item-list.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/link.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/links.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/menu.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/more-link.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/pager.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabledrag.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tableselect.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tablesort.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabs.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/textarea.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/ui-dialog.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/node.css?o1p502");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/messages.css?o1p502");
</style>

    
<!--[if lte IE 8]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
<![endif]-->

  </head>
  <body class="user-logged-in path-node page-node-type-page">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    
    <div class="layout-container">

  <header role="banner">
    
  </header>

  
  

  

  

  

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
        <div class="region region-content">
    
    <div role="contentinfo" aria-label="Status message" class="messages messages--status">
                  <h2 class="visually-hidden">Status message</h2>
                    Basic page <em class="placeholder">joUSIgAr</em> has been updated.
            </div>
    

<article role="article" class="node node--type-page node--promoted node--view-mode-full">

  
    

  
  <div class="node__content">
    
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>hzA1ZhZQLzQSO2SM</p>
</div>
      
  </div>

</article>

  </div>

    </div>
          <aside class="layout-sidebar-first" role="complementary">
          <div class="region region-sidebar-first">
    <div id="block-chhsuoti" class="block block-core block-local-tasks-block">
  
    
        <nav class="tabs" role="navigation" aria-label="Tabs">
        <h2 class="visually-hidden">Primary tabs</h2>
  <ul class="tabs primary"><li class="is-active"><a href="/jfhp_org/node/1" data-drupal-link-system-path="node/1">View<span class="visually-hidden">(active tab)</span></a></li>
<li><a href="/jfhp_org/node/1/edit" data-drupal-link-system-path="node/1/edit">Edit</a></li>
<li><a href="/jfhp_org/node/1/delete" data-drupal-link-system-path="node/1/delete">Delete</a></li>
</ul>

    </nav>
  </div>

  </div>

      </aside>
    
    
  </main>

  
</div>
    
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/jfhp_org\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/1","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","user":{"uid":"3","permissionsHash":"cbee51ebb2dc1a658e3841cb49291658492d14f600a31e7155e2fd3c4966f753"}}</script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>

<!--[if lte IE 9]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/classList/classList.min.js?v=2014-12-13"></script>
<![endif]-->
<script src="http://localhost:8888/jfhp_org/core/misc/drupalSettingsLoader.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupal.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/active-link.js?v=8.0.2"></script>

  </body>
</html>
