<hr />ID #17 (<a href="Drupal_node_Tests_NodeFieldMultilingualTest-16-1.html">Previous</a> | <a href="Drupal_node_Tests_NodeFieldMultilingualTest-18-1.html">Next</a>)<hr />POST request to: admin/structure/types/manage/page<hr />Ending URL: http://localhost:8888/jfhp_org/admin/structure/types<hr />Fields: <code><span style="color: #000000">
<span style="color: #0000BB">&lt;?php&nbsp;</span><span style="color: #007700">array&nbsp;(<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'name'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Basic&nbsp;page'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'description'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'title_label'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Title'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'preview_mode'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'help'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'options[status]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'status'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'options[promote]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'promote'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'language_configuration[langcode]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'site_default'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'language_configuration[language_alterable]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'display_submitted'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'additional_settings__active_tab'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_build_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'form-W3HvY8ApeUi1h8QETa9DabU1WoJnw2FBMA4FoHiB7Uo'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_token'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'UMDwbl3YChdOmJRIq9akYBimaibQNsv6L2HyPb9cX9Q'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'node_type_edit_form'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'op'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Save&nbsp;content&nbsp;type'</span><span style="color: #007700">,<br />)</span>
</span>
</code><hr /><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://localhost:8888/jfhp_org/core/misc/favicon.ico" type="image/vnd.microsoft.icon" />

    <title>Content types | Drupal</title>
    <style media="all">
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/normalize-css/normalize.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/ajax-progress.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/align.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/autocomplete-loading.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/fieldgroup.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/container-inline.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/clearfix.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/details.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/hidden.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/item-list.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/js.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/nowrap.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/position-container.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/progress.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/reset-appearance.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/resize.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/sticky-header.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tabledrag.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tablesort.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tree-child.module.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/core/dropbutton/dropbutton.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/system.admin.css?o1p521");
</style>
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/action-links.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/breadcrumb.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/button.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/collapse-processed.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/container-inline.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/details.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/exposed-filters.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/field.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/form.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/icons.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/inline-form.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/item-list.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/link.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/links.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/menu.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/more-link.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/pager.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabledrag.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tableselect.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tablesort.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabs.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/textarea.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/ui-dialog.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/dropbutton.css?o1p521");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/messages.css?o1p521");
</style>

    
<!--[if lte IE 8]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
<![endif]-->

  </head>
  <body class="user-logged-in path-admin">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    
    <div class="layout-container">

  <header role="banner">
    
  </header>

  
  

  

  

  

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
        <div class="region region-content">
    
    <div role="contentinfo" aria-label="Status message" class="messages messages--status">
                  <h2 class="visually-hidden">Status message</h2>
                    The content type <em class="placeholder">Basic page</em> has been updated.
            </div>
    

  <h1 class="page-title">Content types</h1>

<table class="responsive-enabled" data-striping="1">
  
  
      <thead>
      <tr>
                            <th>Name</th>
                            <th class="priority-medium">Description</th>
                            <th>Operations</th>
              </tr>
    </thead>
  
      <tbody>
                      <tr class="odd">
                      <td class="menu-label">Basic page</td>
                      <td class="priority-medium"></td>
                      <td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit"><a href="/jfhp_org/admin/structure/types/manage/page">Edit</a></li><li class="delete"><a href="/jfhp_org/admin/structure/types/manage/page/delete">Delete</a></li></ul></div></div></td>
                  </tr>
          </tbody>
    </table>

  </div>

    </div>
    
    
  </main>

  
</div>
    
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/jfhp_org\/","scriptPath":null,"pathPrefix":"","currentPath":"admin\/structure\/types","currentPathIsAdmin":true,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","user":{"uid":"2","permissionsHash":"a41d48c369710366404bac3ccfe7fa9e8106fea7b4aab7d776f46a17c9db21da"}}</script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>

<!--[if lte IE 9]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/classList/classList.min.js?v=2014-12-13"></script>
<![endif]-->
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery/jquery.min.js?v=2.1.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.1.1"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupalSettingsLoader.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupal.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/active-link.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/tableresponsive.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/dropbutton/dropbutton.js?v=8.0.2"></script>

  </body>
</html>
