<hr />ID #2 (<a href="Drupal_node_Tests_NodeAccessAutoBubblingTest-1-1.html">Previous</a> | <a href="Drupal_node_Tests_NodeAccessAutoBubblingTest-3-1.html">Next</a>)<hr />POST request to: user/login<hr />Ending URL: http://localhost:8888/jfhp_org/user/1<hr />Headers: <pre>array (
  0 =&gt; &#039;HTTP/1.1 303 See Other&#039;,
  1 =&gt; &#039;Date: Fri, 29 Jan 2016 04:00:43 GMT&#039;,
  2 =&gt; &#039;Server: Apache/2.2.29 (Unix) mod_fastcgi/2.4.6 mod_wsgi/3.4 Python/2.7.8 PHP/5.6.2 mod_ssl/2.2.29 OpenSSL/0.9.8zg DAV/2 mod_perl/2.0.8 Perl/v5.20.0&#039;,
  3 =&gt; &#039;X-Content-Type-Options: nosniff&#039;,
  4 =&gt; &#039;X-Powered-By: PHP/5.6.2&#039;,
  5 =&gt; &#039;Set-Cookie: SESS6c3d8b56a2b3472613a65e612e3555a3=FkmOxoS4BlFIuRaRrpxtAN1ebOkfAe8clsNYWq8U0Q4; expires=Sun, 21-Feb-2016 07:34:04 GMT; Max-Age=2000000; path=/; HttpOnly&#039;,
  6 =&gt; &#039;Cache-Control: must-revalidate, no-cache, post-check=0, pre-check=0, private&#039;,
  7 =&gt; &#039;Location: http://localhost:8888/jfhp_org/user/1&#039;,
  8 =&gt; &#039;X-UA-Compatible: IE=edge&#039;,
  9 =&gt; &#039;Content-language: en&#039;,
  10 =&gt; &#039;X-Content-Type-Options: nosniff&#039;,
  11 =&gt; &#039;X-Frame-Options: SAMEORIGIN&#039;,
  12 =&gt; &#039;Expires: Sun, 19 Nov 1978 05:00:00 GMT&#039;,
  13 =&gt; &#039;X-Generator: Drupal 8 (https://www.drupal.org)&#039;,
  14 =&gt; &#039;Access-Control-Allow-Origin: *&#039;,
  15 =&gt; &#039;Content-Length: 392&#039;,
  16 =&gt; &#039;Content-Type: text/html; charset=UTF-8&#039;,
  17 =&gt; &#039;&#039;,
  18 =&gt; &#039;HTTP/1.1 200 OK&#039;,
  19 =&gt; &#039;Date: Fri, 29 Jan 2016 04:00:44 GMT&#039;,
  20 =&gt; &#039;Server: Apache/2.2.29 (Unix) mod_fastcgi/2.4.6 mod_wsgi/3.4 Python/2.7.8 PHP/5.6.2 mod_ssl/2.2.29 OpenSSL/0.9.8zg DAV/2 mod_perl/2.0.8 Perl/v5.20.0&#039;,
  21 =&gt; &#039;X-Content-Type-Options: nosniff&#039;,
  22 =&gt; &#039;X-Powered-By: PHP/5.6.2&#039;,
  23 =&gt; &#039;Cache-Control: must-revalidate, no-cache, post-check=0, pre-check=0, private&#039;,
  24 =&gt; &#039;X-Drupal-Dynamic-Cache: MISS&#039;,
  25 =&gt; &#039;X-UA-Compatible: IE=edge&#039;,
  26 =&gt; &#039;Content-language: en&#039;,
  27 =&gt; &#039;X-Content-Type-Options: nosniff&#039;,
  28 =&gt; &#039;X-Frame-Options: SAMEORIGIN&#039;,
  29 =&gt; &#039;X-Drupal-Cache-Tags: user:1 user_view rendered&#039;,
  30 =&gt; &#039;X-Drupal-Cache-Contexts: languages:language_interface theme url.query_args:_wrapper_format user.permissions&#039;,
  31 =&gt; &#039;Expires: Sun, 19 Nov 1978 05:00:00 GMT&#039;,
  32 =&gt; &#039;X-Generator: Drupal 8 (https://www.drupal.org)&#039;,
  33 =&gt; &#039;Access-Control-Allow-Origin: *&#039;,
  34 =&gt; &#039;Content-Length: 7087&#039;,
  35 =&gt; &#039;Content-Type: text/html; charset=UTF-8&#039;,
  36 =&gt; &#039;&#039;,
)</pre><hr />Fields: <code><span style="color: #000000">
<span style="color: #0000BB">&lt;?php&nbsp;</span><span style="color: #007700">array&nbsp;(<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'name'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'admin'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'pass'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'xXgKupLJ'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_build_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'form-GY_kXTdubXh3TDd3LKVTlgdvyBubA8R5wX92u51NQV8'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'user_login_form'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'op'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Log&nbsp;in'</span><span style="color: #007700">,<br />)</span>
</span>
</code><hr /><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://localhost:8888/jfhp_org/core/misc/favicon.ico" type="image/vnd.microsoft.icon" />

    <title>admin | Drupal</title>
    <style media="all">
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/normalize-css/normalize.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/ajax-progress.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/align.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/autocomplete-loading.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/fieldgroup.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/container-inline.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/clearfix.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/details.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/hidden.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/item-list.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/js.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/nowrap.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/position-container.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/progress.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/reset-appearance.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/resize.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/sticky-header.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tabledrag.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tablesort.module.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tree-child.module.css?o1p4gp");
</style>
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/action-links.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/breadcrumb.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/button.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/collapse-processed.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/container-inline.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/details.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/exposed-filters.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/field.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/form.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/icons.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/inline-form.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/item-list.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/link.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/links.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/menu.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/more-link.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/pager.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabledrag.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tableselect.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tablesort.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabs.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/textarea.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/ui-dialog.css?o1p4gp");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/messages.css?o1p4gp");
</style>

    
<!--[if lte IE 8]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
<![endif]-->

  </head>
  <body class="user-logged-in path-user">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    
    <div class="layout-container">

  <header role="banner">
    
  </header>

  
  

  

  

  

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
        <div class="region region-content">
    

  <h1 class="page-title">admin</h1>

<article class="profile">
  <div class="js-form-item form-item js-form-type-item form-type-item js-form-item- form-item- form-no-label">
        <h4 class="label">Member for</h4> 19 seconds
        </div>
</article>

  </div>

    </div>
    
    
  </main>

  
</div>
    
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/jfhp_org\/","scriptPath":null,"pathPrefix":"","currentPath":"user\/1","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","user":{"uid":"1","permissionsHash":"4241efc568bca5c1ba98f9123d9ef9dafc86cd715dedc1e25573676c352fd997"}}</script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>

<!--[if lte IE 9]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/classList/classList.min.js?v=2014-12-13"></script>
<![endif]-->
<script src="http://localhost:8888/jfhp_org/core/misc/drupalSettingsLoader.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupal.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/active-link.js?v=8.0.2"></script>

  </body>
</html>
