<hr />ID #3 (<a href="Drupal_node_Tests_MultiStepNodeFormBasicOptionsTest-2-1.html">Previous</a> | <a href="Drupal_node_Tests_MultiStepNodeFormBasicOptionsTest-4-1.html">Next</a>)<hr />POST request to: node/add/page<hr />Ending URL: http://localhost:8888/jfhp_org/node/add/page<hr />Fields: <code><span style="color: #000000">
<span style="color: #0000BB">&lt;?php&nbsp;</span><span style="color: #007700">array&nbsp;(<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'title[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'a'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'changed'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1454040024'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_build_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'form-vaZFg1eMvhomfGwLEWHTcZa3eoAKIMhCMEL9qOb9kPo'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_token'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'8NyO2UqaSUCYs3I81-I_XL4gOufDb9hAT8JXJkuJ0mM'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'form_id'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'node_page_form'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'body[0][summary]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'body[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'zcasrb0s[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">']\'/x)zR1X0.?%fX\'&gt;&amp;Lq%b=j[C:%}:C8'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'zcasrb0s[0][_weight]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'0'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'zcasrb0s_add_more'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'Add&nbsp;another&nbsp;item'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'revision_log[0][value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'uid[0][target_id]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'e13h9pO7&nbsp;(2)'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'created[0][value][date]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'2016-01-29'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'created[0][value][time]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'15:00:24'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'sticky[value]'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">'1'</span><span style="color: #007700">,<br />&nbsp;&nbsp;</span><span style="color: #DD0000">'advanced__active_tab'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #DD0000">''</span><span style="color: #007700">,<br />)</span>
</span>
</code><hr /><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://localhost:8888/jfhp_org/core/misc/favicon.ico" type="image/vnd.microsoft.icon" />

    <title>Create Basic page | Drupal</title>
    <style media="all">
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/normalize-css/normalize.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/node/node.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/ajax-progress.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/align.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/autocomplete-loading.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/fieldgroup.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/container-inline.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/clearfix.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/details.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/hidden.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/item-list.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/js.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/nowrap.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/position-container.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/progress.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/reset-appearance.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/resize.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/sticky-header.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tabledrag.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tablesort.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/system/components/tree-child.module.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/core/dropbutton/dropbutton.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/core/vertical-tabs.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/core.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/datepicker.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/menu.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/autocomplete.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/themes/base/theme.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/stable/css/filter/filter.admin.css?o1p4g6");
</style>
<style media="all">
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/action-links.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/breadcrumb.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/button.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/collapse-processed.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/container-inline.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/details.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/exposed-filters.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/field.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/form.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/icons.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/inline-form.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/item-list.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/link.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/links.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/menu.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/more-link.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/pager.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabledrag.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tableselect.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tablesort.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/tabs.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/textarea.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/ui-dialog.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/dropbutton.css?o1p4g6");
@import url("http://localhost:8888/jfhp_org/core/themes/classy/css/components/messages.css?o1p4g6");
</style>

    
<!--[if lte IE 8]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
<![endif]-->
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/modernizr/modernizr.min.js?v=3.1.0"></script>

  </head>
  <body class="user-logged-in path-node">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    
    <div class="layout-container">

  <header role="banner">
    
  </header>

  
  

  

  

  

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
        <div class="region region-content">
    

  <h1 class="page-title">Create Basic page</h1>

<form class="node-page-form node-form" data-drupal-selector="node-page-form" action="/jfhp_org/node/add/page" method="post" id="node-page-form" accept-charset="UTF-8">
  <div class="field--type-string field--name-title field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-title-wrapper" id="edit-title-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-title-0-value form-item-title-0-value">
      <label for="edit-title-0-value" class="js-form-required form-required">Title</label>
        <input class="js-text-full text-full form-text required" data-drupal-selector="edit-title-0-value" type="text" id="edit-title-0-value" name="title[0][value]" value="a" size="60" maxlength="255" placeholder="" required="required" aria-required="true" />

        </div>

  </div>
<input data-drupal-selector="edit-changed" type="hidden" name="changed" value="1454040024" />
<input data-drupal-selector="form-mjq-cjfczcsc3xu-paqv0vvlvckdcgokreyr6hxml6c" type="hidden" name="form_build_id" value="form-MjQ_CjfCZcSc3xu-paqV0vVlvCkdCGOKrEYR6hXML6c" />
<input data-drupal-selector="edit-node-page-form-form-token" type="hidden" name="form_token" value="8NyO2UqaSUCYs3I81-I_XL4gOufDb9hAT8JXJkuJ0mM" />
<input data-drupal-selector="edit-node-page-form" type="hidden" name="form_id" value="node_page_form" />
<div class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper" data-drupal-selector="edit-langcode-wrapper" id="edit-langcode-wrapper">      
  </div>
<div class="field--type-text-with-summary field--name-body field--widget-text-textarea-with-summary js-form-wrapper form-wrapper" data-drupal-selector="edit-body-wrapper" id="edit-body-wrapper">      <div class="js-text-format-wrapper text-format-wrapper js-form-item form-item">
  <div class="js-text-summary-wrapper text-summary-wrapper"><div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-body-0-summary form-item-body-0-summary">
      <label for="edit-body-0-summary">Summary</label>
        <div class="form-textarea-wrapper">
  <textarea class="js-text-summary text-summary form-textarea resize-vertical" data-drupal-selector="edit-body-0-summary" aria-describedby="edit-body-0-summary--description" id="edit-body-0-summary" name="body[0][summary]" rows="3" cols="60"></textarea>
</div>

            <div id="edit-body-0-summary--description" class="description">
      Leave blank to use trimmed value of full text as the summary.
    </div>
  </div>
</div><div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-body-0-value form-item-body-0-value">
      <label for="edit-body-0-value">Body</label>
        <div class="form-textarea-wrapper">
  <textarea class="js-text-full text-full form-textarea resize-vertical" data-drupal-selector="edit-body-0-value" id="edit-body-0-value" name="body[0][value]" rows="9" cols="60" placeholder=""></textarea>
</div>

        </div>
<div class="filter-wrapper js-form-wrapper form-wrapper" data-drupal-selector="edit-body-0-format" id="edit-body-0-format"><div class="filter-help js-form-wrapper form-wrapper" data-drupal-selector="edit-body-0-format-help" id="edit-body-0-format-help"><a href="/jfhp_org/filter/tips" target="_blank" data-drupal-selector="edit-body-0-format-help-about" id="edit-body-0-format-help-about">About text formats</a></div>
<div class="filter-guidelines js-form-wrapper form-wrapper" data-drupal-selector="edit-body-0-format-guidelines" id="edit-body-0-format-guidelines"><div class="filter-guidelines-item filter-guidelines-plain_text">
  <h4 class="label">Plain text</h4>
  
  
      
          <ul class="tips">
                      <li>No HTML tags allowed.</li>
                      <li>Lines and paragraphs break automatically.</li>
                      <li>Web page addresses and email addresses turn into links automatically.</li>
            </ul>
    
      
  
</div>
</div>
</div>

  </div>

  </div>
<div class="field--type-text field--name-zcasrb0s field--widget-text-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-zcasrb0s-wrapper" id="edit-zcasrb0s-wrapper"><div id="zcasrb0s-add-more-wrapper">  <div class="js-form-item form-item">
    <table id="zcasrb0s-values" class="field-multiple-table responsive-enabled" data-striping="1">
  
  
      <thead>
      <tr>
                            <th colspan="2" class="field-label"><h4 class="label">blgZnlgD_label</h4></th>
                            <th>Order</th>
              </tr>
    </thead>
  
      <tbody>
                      <tr class="draggable odd">
                      <td class="field-multiple-drag"></td>
                      <td><div class="js-text-format-wrapper text-format-wrapper js-form-item form-item">
  <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-zcasrb0s-0-value form-item-zcasrb0s-0-value form-no-label">
      <label for="edit-zcasrb0s-0-value" class="visually-hidden">blgZnlgD_label (value 1)</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-zcasrb0s-0-value" type="text" id="edit-zcasrb0s-0-value" name="zcasrb0s[0][value]" value="]&#039;/x)zR1X0.?%fX&#039;&gt;&amp;Lq%b=j[C:%}:C8" size="60" maxlength="255" placeholder="" />

        </div>
<div class="filter-wrapper js-form-wrapper form-wrapper" data-drupal-selector="edit-zcasrb0s-0-format" id="edit-zcasrb0s-0-format"><div class="filter-help js-form-wrapper form-wrapper" data-drupal-selector="edit-zcasrb0s-0-format-help" id="edit-zcasrb0s-0-format-help"><a href="/jfhp_org/filter/tips" target="_blank" data-drupal-selector="edit-zcasrb0s-0-format-help-about" id="edit-zcasrb0s-0-format-help-about">About text formats</a></div>
<div class="filter-guidelines js-form-wrapper form-wrapper" data-drupal-selector="edit-zcasrb0s-0-format-guidelines" id="edit-zcasrb0s-0-format-guidelines"><div class="filter-guidelines-item filter-guidelines-plain_text">
  <h4 class="label">Plain text</h4>
  
  
      
          <ul class="tips">
                      <li>No HTML tags allowed.</li>
                      <li>Lines and paragraphs break automatically.</li>
                      <li>Web page addresses and email addresses turn into links automatically.</li>
            </ul>
    
      
  
</div>
</div>
</div>

  </div>
</td>
                      <td class="delta-order"><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-zcasrb0s-0--weight form-item-zcasrb0s-0--weight form-no-label">
      <label for="edit-zcasrb0s-0-weight" class="visually-hidden">Weight for row 1</label>
        <select data-drupal-selector="edit-zcasrb0s-0-weight" class="zcasrb0s-delta-order form-select" id="edit-zcasrb0s-0-weight" name="zcasrb0s[0][_weight]"><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option></select>
        </div>
</td>
                  </tr>
                      <tr class="draggable even">
                      <td class="field-multiple-drag"></td>
                      <td><div class="js-text-format-wrapper text-format-wrapper js-form-item form-item">
  <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-zcasrb0s-1-value form-item-zcasrb0s-1-value form-no-label">
      <label for="edit-zcasrb0s-1-value" class="visually-hidden">blgZnlgD_label (value 2)</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-zcasrb0s-1-value" type="text" id="edit-zcasrb0s-1-value" name="zcasrb0s[1][value]" value="" size="60" maxlength="255" placeholder="" />

        </div>
<div class="filter-wrapper js-form-wrapper form-wrapper" data-drupal-selector="edit-zcasrb0s-1-format" id="edit-zcasrb0s-1-format"><div class="filter-help js-form-wrapper form-wrapper" data-drupal-selector="edit-zcasrb0s-1-format-help" id="edit-zcasrb0s-1-format-help"><a href="/jfhp_org/filter/tips" target="_blank" data-drupal-selector="edit-zcasrb0s-1-format-help-about" id="edit-zcasrb0s-1-format-help-about">About text formats</a></div>
<div class="filter-guidelines js-form-wrapper form-wrapper" data-drupal-selector="edit-zcasrb0s-1-format-guidelines" id="edit-zcasrb0s-1-format-guidelines"><div class="filter-guidelines-item filter-guidelines-plain_text">
  <h4 class="label">Plain text</h4>
  
  
      
          <ul class="tips">
                      <li>No HTML tags allowed.</li>
                      <li>Lines and paragraphs break automatically.</li>
                      <li>Web page addresses and email addresses turn into links automatically.</li>
            </ul>
    
      
  
</div>
</div>
</div>

  </div>
</td>
                      <td class="delta-order"><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-zcasrb0s-1--weight form-item-zcasrb0s-1--weight form-no-label">
      <label for="edit-zcasrb0s-1-weight" class="visually-hidden">Weight for row 2</label>
        <select data-drupal-selector="edit-zcasrb0s-1-weight" class="zcasrb0s-delta-order form-select" id="edit-zcasrb0s-1-weight" name="zcasrb0s[1][_weight]"><option value="-1">-1</option><option value="0">0</option><option value="1" selected="selected">1</option></select>
        </div>
</td>
                  </tr>
          </tbody>
    </table>

              <div class="clearfix"><input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-zcasrb0s-add-more" formnovalidate="formnovalidate" type="submit" id="edit-zcasrb0s-add-more" name="zcasrb0s_add_more" value="Add another item" />
</div>
      </div>
</div></div>
<div class="js-form-item form-item js-form-type-vertical-tabs form-type-vertical-tabs js-form-item- form-item- form-no-label">
      <label for="edit-advanced" class="visually-hidden">Vertical Tabs</label>
        <div class="entity-meta" data-drupal-selector="edit-advanced" data-vertical-tabs-panes><details class="node-form-revision-information js-form-wrapper form-wrapper" data-drupal-selector="edit-revision-information" id="edit-revision-information" open="open"><summary role="button" aria-controls="edit-revision-information" aria-expanded="true" aria-pressed="true">Revision information</summary><div class="details-wrapper">
    <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-revision form-item-revision">
        <input data-drupal-selector="edit-revision" type="checkbox" id="edit-revision" name="revision" value="1" class="form-checkbox" />

        <label for="edit-revision" class="option">Create new revision</label>
      </div>
<div class="field--type-string-long field--name-revision-log field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-revision-log-wrapper" data-drupal-states="{&quot;visible&quot;:{&quot;:input[name=\u0022revision\u0022]&quot;:{&quot;checked&quot;:true}}}" id="edit-revision-log-wrapper">      <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-revision-log-0-value form-item-revision-log-0-value">
      <label for="edit-revision-log-0-value">Revision log message</label>
        <div class="form-textarea-wrapper">
  <textarea class="js-text-full text-full form-textarea resize-vertical" data-drupal-selector="edit-revision-log-0-value" aria-describedby="edit-revision-log-0-value--description" id="edit-revision-log-0-value" name="revision_log[0][value]" rows="4" cols="60" placeholder=""></textarea>
</div>

            <div id="edit-revision-log-0-value--description" class="description">
      Briefly describe the changes you have made.
    </div>
  </div>

  </div>
</div>
</details>
<details class="node-form-author js-form-wrapper form-wrapper" data-drupal-selector="edit-author" id="edit-author"><summary role="button" aria-controls="edit-author" aria-expanded="false" aria-pressed="false">Authoring information</summary><div class="details-wrapper">
    <div class="field--type-entity-reference field--name-uid field--widget-entity-reference-autocomplete js-form-wrapper form-wrapper" data-drupal-selector="edit-uid-wrapper" id="edit-uid-wrapper">      <div class="js-form-item form-item js-form-type-entity-autocomplete form-type-entity-autocomplete js-form-item-uid-0-target-id form-item-uid-0-target-id">
      <label for="edit-uid-0-target-id">Authored by</label>
        <input data-drupal-selector="edit-uid-0-target-id" aria-describedby="edit-uid-0-target-id--description" class="form-autocomplete form-text" data-autocomplete-path="/jfhp_org/entity_reference_autocomplete/user/default/f6rSVpI-GeCkFpgAsZlk0khTv5TgtvilNJSRnHCTpCA" type="text" id="edit-uid-0-target-id" name="uid[0][target_id]" value="e13h9pO7 (2)" size="60" maxlength="1024" placeholder="" />

            <div id="edit-uid-0-target-id--description" class="description">
      The username of the content author.
    </div>
  </div>

  </div>
<div class="field--type-created field--name-created field--widget-datetime-timestamp js-form-wrapper form-wrapper" data-drupal-selector="edit-created-wrapper" id="edit-created-wrapper">        <h4 class="label">Authored on</h4>
<div id="edit-created-0-value" class="container-inline">
  <div class="js-form-item form-item js-form-type-date form-type-date js-form-item-created-0-value-date form-item-created-0-value-date form-no-label">
      <label for="edit-created-0-value-date" class="visually-hidden">Date</label>
        <input data-drupal-selector="edit-created-0-value-date" aria-describedby="edit-created-0-value--description" title="Date (e.g. 2016-01-29)" type="date" min="1902-01-01" max="2037-12-31" data-drupal-date-format="Y-m-d" id="edit-created-0-value-date" name="created[0][value][date]" value="2016-01-29" size="12" class="form-date" />

        </div>
<div class="js-form-item form-item js-form-type-date form-type-date js-form-item-created-0-value-time form-item-created-0-value-time form-no-label">
      <label for="edit-created-0-value-time" class="visually-hidden">Time</label>
        <input data-drupal-selector="edit-created-0-value-time" aria-describedby="edit-created-0-value--description" title="Time (e.g. 15:00:25)" type="time" step="1" id="edit-created-0-value-time" name="created[0][value][time]" value="15:00:24" size="12" class="form-time" />

        </div>

</div>

  <div class="description">Format: <em class="placeholder">2016-01-29 15:00:25</em>. Leave blank to use the time of form submission.</div>

  </div>
</div>
</details>
<details class="node-form-options js-form-wrapper form-wrapper" data-drupal-selector="edit-options" id="edit-options"><summary role="button" aria-controls="edit-options" aria-expanded="false" aria-pressed="false">Promotion options</summary><div class="details-wrapper">
    <div class="field--type-boolean field--name-promote field--widget-boolean-checkbox js-form-wrapper form-wrapper" data-drupal-selector="edit-promote-wrapper" id="edit-promote-wrapper"><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-promote-value form-item-promote-value">
        <input data-drupal-selector="edit-promote-value" type="checkbox" id="edit-promote-value" name="promote[value]" value="1" class="form-checkbox" />

        <label for="edit-promote-value" class="option">Promoted to front page</label>
      </div>
</div>
<div class="field--type-boolean field--name-sticky field--widget-boolean-checkbox js-form-wrapper form-wrapper" data-drupal-selector="edit-sticky-wrapper" id="edit-sticky-wrapper"><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-sticky-value form-item-sticky-value">
        <input data-drupal-selector="edit-sticky-value" type="checkbox" id="edit-sticky-value" name="sticky[value]" value="1" checked="checked" class="form-checkbox" />

        <label for="edit-sticky-value" class="option">Sticky at top of lists</label>
      </div>
</div>
</div>
</details>
<input class="vertical-tabs-active-tab" data-drupal-selector="edit-advanced-active-tab" type="hidden" name="advanced__active_tab" value="" />
</div>

        </div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul data-drupal-selector="edit-save" class="dropbutton"><li class="publish"><input type="submit" name="op" value="Save and publish" class="button js-form-submit form-submit" /></li><li class="unpublish"><input type="submit" name="op" value="Save as unpublished" class="button js-form-submit form-submit" /></li></ul></div></div><input data-drupal-selector="edit-preview" type="submit" id="edit-preview" name="op" value="Preview" class="button js-form-submit form-submit" />
</div>

</form>

  </div>

    </div>
    
    
  </main>

  
</div>
    
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/jfhp_org\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/add\/page","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","ajaxPageState":{"libraries":"classy\/base,classy\/messages,core\/drupal.active-link,core\/drupal.autocomplete,core\/drupal.collapse,core\/drupal.date,core\/drupal.dropbutton,core\/drupal.states,core\/drupal.tabledrag,core\/drupal.tableresponsive,core\/drupal.vertical-tabs,core\/html5shiv,core\/jquery.form,core\/normalize,filter\/drupal.filter,node\/drupal.node,node\/form,system\/base,text\/drupal.text","theme":"classy","theme_token":null},"ajaxTrustedUrl":{"form_action_cc611e1d":true,"\/jfhp_org\/node\/add\/page?ajax_form=1":true},"ajax":{"edit-zcasrb0s-add-more":{"callback":["Drupal\\text\\Plugin\\Field\\FieldWidget\\TextfieldWidget","addMoreAjax"],"wrapper":"zcasrb0s-add-more-wrapper","effect":"fade","event":"mousedown","keypress":true,"prevent":"click","url":"\/jfhp_org\/node\/add\/page?ajax_form=1","dialogType":"ajax","submit":{"_triggering_element_name":"zcasrb0s_add_more","_triggering_element_value":"Add another item"}}},"tableDrag":{"zcasrb0s-values":{"zcasrb0s-delta-order":[{"target":"zcasrb0s-delta-order","source":"zcasrb0s-delta-order","relationship":"sibling","action":"order","hidden":true,"limit":0}]}},"user":{"uid":"2","permissionsHash":"c805bbc58e33360cac24210de4e0e130ca808dc034c875044182b50c4c059369"}}</script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>

<!--[if lte IE 9]>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/classList/classList.min.js?v=2014-12-13"></script>
<![endif]-->
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery/jquery.min.js?v=2.1.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.1.1"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupalSettingsLoader.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/drupal.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/core-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/widget-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/vertical-tabs.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/autocomplete.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/tabledrag.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/active-link.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/dropbutton/dropbutton.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/debounce.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.cookie/jquery.cookie.min.js?v=1.4.1"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/form.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/matchMedia/matchMedia.min.js?v=0.2.0"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/details-aria.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/collapse.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/node/node.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/datepicker-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/date.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/progress.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/ajax.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/position-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/menu-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery.ui/ui/autocomplete-min.js?v=1.11.4"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/states.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/assets/vendor/jquery-form/jquery.form.min.js?v=3.51"></script>
<script src="http://localhost:8888/jfhp_org/core/misc/tableresponsive.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/filter/filter.js?v=8.0.2"></script>
<script src="http://localhost:8888/jfhp_org/core/modules/text/text.js?v=8.0.2"></script>

  </body>
</html>
