<hr />ID #2 (<a href="Drupal_node_Tests_NodeRSSContentTest-1-1.html">Previous</a> | <a href="Drupal_node_Tests_NodeRSSContentTest-3-1.html">Next</a>)<hr />GET request to: rss.xml<hr />Ending URL: http://localhost:8888/jfhp_org/rss.xml<hr /><?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xml:base="http://localhost:8888/jfhp_org/rss.xml" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:drupaltest="http://example.com/test-namespace">
  <channel>
    <title>Drupal</title>
    <link>http://localhost:8888/jfhp_org/rss.xml</link>
    <description></description>
    <language>en</language>
    
    <item>
  <title>mtRPtxqA</title>
  <link>http://localhost:8888/jfhp_org/node/1</link>
  <description>&lt;span class=&quot;field field--name-title field--type-string field--label-hidden&quot;&gt;mtRPtxqA&lt;/span&gt;
&lt;span class=&quot;field field--name-uid field--type-entity-reference field--label-hidden&quot;&gt;&lt;span&gt;yFl8dDp2&lt;/span&gt;&lt;/span&gt;
&lt;span class=&quot;field field--name-created field--type-created field--label-hidden&quot;&gt;Fri, 01/29/2016 - 15:21&lt;/span&gt;
&lt;p&gt;Extra data that should appear only in the RSS feed for node 1.&lt;/p&gt;
            &lt;div class=&quot;clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item&quot;&gt;&lt;p&gt;qtmGc1dw0Tbw9dHIISMDXJ9vwg8lSiDw&lt;/p&gt;
&lt;/div&gt;
      </description>
  <pubDate>Fri, 29 Jan 2016 04:21:43 +0000</pubDate>
    <dc:creator>yFl8dDp2</dc:creator>
    <guid isPermaLink="false">1 at http://localhost:8888/jfhp_org</guid>
    <testElement>Value of testElement RSS element for node 1.</testElement>
    </item>

  </channel>
</rss>
