{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 *
 * !!! Clear cache in Admin backend to see template/theme changes (you MUST do it if caching disabled too) !!!
 *
 */
#}
<div>

  <header role="banner">
    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    {% endif %}

    {% if site_name or site_slogan %}
      <div>
        {% if site_name %}
         <h1>
           <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
         </h1>
        {% endif %}

        {% if site_slogan %}
          <div>{{ site_slogan }}</div>
        {% endif %}
      </div>
    {% endif %}

  </header>

  <main role="main">
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    
    
    
    <!--b>VAR HERE1: "{{ alpha1 }}"</b-->

    {{ page.content }}
  </main>

  {% if page.sidebar_first %}
    <aside role="complementary">
      {{ page.sidebar_first }}
    </aside>
  {% endif %}

  {% if page.sidebar_second %}
    <aside role="complementary">
      {{ page.sidebar_second }}
    </aside>
  {% endif %}

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
<div id="finder"></div>