header .container {
	background: #346094;
	padding-left: 20px;
	padding-top: 20px;
	height: 100px;
}

.site-logo img {

	width: 300px;
}

#main-menu .container {
	background: #346094;
	border-radius: 0;
	box-shadow: none;

}

#main-menu .container ul.menu li .is-active {
	background: none;

}

#main-menu .container ul.menu li:first-child > a {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#main-menu .container ul.menu li.menu-item--active-trail > a {

	background: none;
}

#main-menu .container ul.menu li:hover > a, #main-menu .container ul.menu li:focus > a {
	background: #083160;

}
#main-menu .container ul.menu li {
	border-left: none;
}

#header .search-block-form {
	margin-right: 20px;
}

/* SLIDESHOW */

#slideshow {
	margin-bottom: 0;


}
#slideshow .container {
   width: 100%;
   box-shadow: none;
   margin-top: 0;
   padding-left: 0px;
   padding-right: 0px;
}

#slideshow img {
	width: 100%;
}

/*FRONT-BLOCKS*/
.front_blk_1, .front_blk_2, .front_blk_3, .front_blk_4 {
	display: block;
	height: auto;
	margin-bottom: 20px;
}

/* INSIDE PAGES */

.sidebar h2 {
    background: #ffdf4e none repeat scroll 0 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #012343;
    }

.donate-button {
	background: #ffdf4e none repeat scroll 0 0;
    float: right !important;
    margin-right: -14px !important;
    margin-top: -9px !important;
    padding: 10px !important;
}

.donate-amount {
	color: #346094 !important;
    float: right;
    font-size: 14px;
    margin-right: 100px;
    position: absolute;
    right: 0;
}

.views-table {

	margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

}
/* FOOTER */
footer .container {
	background: #346094;
	padding: 10px 0; 
}

#footer .block {
	width: 100%;
	color:#fff;
}

footer .block a {

	color: #FFDF4E;
}

/* FORMS */
.form-actions .form-submit {
	background: #346094;

}

/*media queries*/
@media (max-width: 767px) { 
	.site-logo img {
    	width: 180px;
	}

	header .container {
	    padding-right: 20px;
	}
}


