<div class="page">
<a name="Top" id="Top"></a>
<header id="header" class="header" role="header">
  <div class="container">
    {% if logo %}
      <a id="logo" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    {% endif %}

    {% if site_name or site_slogan %}
      <div class="name-and-slogan">

        {# Use h1 when the content title is empty #}
        {% if title %}
          <strong class="site-name">
            <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
          </strong>
        {% else %}
          <h1 class="site-name">
            <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
          </h1>
        {% endif %}

        {% if site_slogan %}
          <div class="site-slogan">{{ site_slogan }}</div>
        {% endif %}
      </div>
   {% endif %}
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu-inner">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    {{ page.header }}
    
  </div>
</header>

  {% if main_menu or secondary_menu %}
    <nav id="navigation" class="navigation" role="navigation">
      <div class="container">
        {{ main_menu }}
        {{ secondary_menu }}
      </div>
    </nav>
  {% endif %}

  {% if page.main_menu %}
    <nav id="main-menu" class="navbar navbar-default" role="navigation">	
  		  <div class="collapse navbar-collapse" id="main-menu-inner">
          <div class="container">
            {{ page.main_menu }}						
          </div>
        </div>
    </nav>
  {% endif %}

  <section id="main" class="main" role="main">
    <a id="main-content"></a>
    <div class="container">
      <div class="row">
        
        {% if page.sidebar_first %}
          <aside class="sidebar-first sidebar col-lg-4 col-md-3 col-sm-12 col-xs-12" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
    
        <div class="content col-lg-8 col-md-9 col-sm-12 col-xs-12">
          {% if page.slideshow %}
            <section id="slideshow" class="slideshow">
              <div class="container">
                {{ page.slideshow }}
              </div>
            </section>
          {% endif %}

          {{ tabs }}

          {% if action_links %}
            <nav class="action-links">{{ action_links }}</nav>
          {% endif %}
          <div class="row">
              <section class="front_blk_1 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ page.front_blk_1 }}
              </section>

              <section class="front_blk_2 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ page.front_blk_2 }}
            </section>
          </div> 

          <div class="row">
            <section class="front_blk_3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              {{ page.front_blk_3 }}
            </section>

            <section class="front_blk_4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              {{ page.front_blk_4 }}
            </section>
          </div>

          <!--{{ feed_icons }}-->
        </div>

        {% if page.sidebar_second %}
          <aside class="sidebar-second sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
      </div>
    </div>
  </section>
  
  {% if breadcrumb %}
    <section id="breadcrumb" class="breadcrumb">
      <div class="container">
        {{ breadcrumb }}
      </div>
    </section>
  {% endif %}
  <a href="#Top" class="btn-btt" title="Back to Top" style="display: block;"></a>          

  {% if page.footer %}
    <footer id="footer" class="footer" role="contentinfo">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>
